html,
body {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
}

/* set homescreen theme */
.home * {
  color: lightskyblue;
}

/* Center headers where they are used */
.header {
  text-align: center;
}

/* handle margins on header/body with bootstrap classes to avoid uneven whitespace */
.header,
.body {
  margin: 0px;
}

/* pretty colors on hover if we aren't using a touchscreen */
@media (hover: hover) {
  i:hover {
    color: steelblue;
  }
}

/* all pages fill screen */
.page {
  min-height: 100%;
  width: 100%;
}

/* containers of cards should wrap around nicely */
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* make the cards take up all the space */
.cards * {
  flex-grow: 1;
}

/* squish the tech cards a little bit */
.technologies .cards * {
  max-width: 25rem;
  text-align: center;
}

/* hero page parallax */
.home {
  /* The image used */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("../assets/cube.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* scroll to proper section anchor locations by providing a dummy "anchor" with a negative margin */
.anchor {
  display: block;
  height: 55px;
  margin-top: -55px;
  visibility: hidden;
}

/* prevent navbar content overflow */
body {
  padding-top: 55px;
}

/* decrease font size and turn off parallax on phones and tablets*/
@media screen and (max-device-width: 1366px) {
  /* p {
    font-size: 1rem;
  } */
  .home {
    background-attachment: scroll;
  }
}
