{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
