html,
body {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 36pt;
    padding-top: 70px;
    padding-bottom: 20px;
}

p {
    font-size: 20pt;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

#navbarNav li a {
    color: #c9e5ed;
}

#about {
    min-height: 100%;
    width: 100%;
    background-color: #c9e5ed;
    color: #373737;
    padding-bottom: 30px;
}

#experience {
    min-height: 100%;
    background-color: white;
    color: #373737;
    
}

#contact {
    height: 100%;
    background-color: #c9e5ed;
    padding-bottom: 50px;
}

#contact :not(h1) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#home {
    /* The image used */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("assets/cube.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media screen and (max-device-width: 1366px) {
    #home {
        background-attachment: scroll;
    }
}