html,
body {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  /* prevent navbar content overflow */
  padding-top: 55px;
}

/* Center headers where they are used */
.header {
  text-align: center;
}

/* handle margins on header/body with bootstrap classes to avoid uneven whitespace */
.header,
.body {
  margin: 0px;
}

/* all pages fill screen */
.page {
  min-height: 100%;
  width: 100%;
}

/* containers of cards should wrap around nicely */
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* make the cards take up all the space */
.cards * {
  flex-grow: 1;
}

/* scroll to proper section anchor locations by providing a dummy "anchor" with a negative margin */
.anchor {
  display: block;
  height: 55px;
  margin-top: -55px;
  visibility: hidden;
}
