@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.page {
  min-height: calc(100vh - 4rem);
  width: 100%;
}
